apiVersion: apps/v1
kind: Deployment
metadata:
  name: resource-demo
  namespace: performance-lab
spec:
  replicas: 2
  selector:
    matchLabels:
      app: resource-demo
  template:
    metadata:
      labels:
        app: resource-demo
    spec:
      containers:
      - name: app-container
        image: nginx:latest
        resources:
          requests:
            cpu: 200m
            memory: 256Mi
            ephemeral-storage: 1Gi
          limits:
            cpu: 1000m
            memory: 1Gi
            ephemeral-storage: 2Gi
        ports:
        - containerPort: 80
